/* Reset des styles par défaut */
@font-face {
  font-family: "NeuePlak-Bold";
  src: url("/assets/fonts/NeuePlak-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: NeuePlak-Bold, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;

  /* Color variables */
  --red-lt-1: #fffcfd;
  --red-lt-2: #ffcbd9;
  --red-lt-3: #ff9db9;
  --red-lt-4: #ff6699;
  --red-lt-5: #da5983;
  --red-dk-1: #b34b6d;
  --red-dk-2: #8e3e57;
  --red-dk-3: #6b3142;
  --red-dk-4: #4b2530;
  --red-dk-5: #2e191e;
  --gre-lt-1: #f7fff9;
  --gre-lt-2: #07f88d;
  --gre-lt-3: #1bd47a;
  --gre-lt-4: #21b267;
  --gre-lt-5: #239959;
  --gre-dk-1: #237e4b;
  --gre-dk-2: #20653d;
  --gre-dk-3: #1d4c2f;
  --gre-dk-4: #183723;
  --gre-dk-5: #132218;
  --cya-lt-1: #f7fefe;
  --cya-lt-2: #00f1f2;
  --cya-lt-3: #1acecf;
  --cya-lt-4: #22acad;
  --cya-lt-5: #249494;
  --cya-dk-1: #247a7b;
  --cya-dk-2: #216262;
  --cya-dk-3: #1e4a4a;
  --cya-dk-4: #193535;
  --cya-dk-5: #132121;
  --br1-lt-1: #fdfdfd;
  --br1-lt-2: #d5d9de;
  --br1-lt-3: #b3bbc3;
  --br1-lt-4: #929da9;
  --br1-lt-5: #7a8796;
  --br1-dk-1: #607182;
  --br1-dk-2: #475b6e;
  --br1-dk-3: #2e465b;
  --br1-dk-4: #14334a;
  --br1-dk-5: #072133;
  --br2-lt-1: #fdfdfe;
  --br2-lt-2: #d3d9e3;
  --br2-lt-3: #aebbcc;
  --br2-lt-4: #8b9db6;
  --br2-lt-5: #7088a5;
  --br2-dk-1: #527193;
  --br2-dk-2: #335c82;
  --br2-dk-3: #004771;
  --br2-dk-4: #10334f;
  --br2-dk-5: #11202f;
  --br3-lt-1: #fcfdfe;
  --br3-lt-2: #c8daf4;
  --br3-lt-3: #97bdea;
  --br3-lt-4: #5da0e1;
  --br3-lt-5: #038cd9;
  --br3-dk-1: #1874b2;
  --br3-dk-2: #1d5c8d;
  --br3-dk-3: #1d4669;
  --br3-dk-4: #1a324a;
  --br3-dk-5: #14202c;
}

.theme1 {
  background-color: var(--br1-dk-5);
}

.background1 {
  background-color: var(--background1);
}

.background1 .menu {
  background-color: var(--background1);
}
.color1 .card-content {
  color: var(--color1);
}

.color1 #title {
  color: var(--color1);
}

.theme1 {
  --nav-color: var(--br2-lt-1);
  --nav-color2: var(--gre-lt-3);
  --nav-bg: var(--br2-dk-3);
  --nav-bg2: var(--br3-lt-5);
  --card-color: var(--br2-lt-1);
  --card-color2: var(--cya-dk-5);
  --card-bg: var(--br2-lt-1);
  --card-bg2: var(--br3-lt-5);
  --page-bg: var(--br1-dk-5);
}

.theme2 {
  --nav-color: var(--br2-dk-3);
  --nav-color2: var(--gre-lt-5);
  --nav-bg: var(--br2-lt-1);
  --nav-bg2: var(--br3-lt-4);
  --card-color: var(--br2-lt-1);
  --card-color2: var(--cya-dk-5);
  --card-bg: var(--br2-lt-1);
  --card-bg2: var(--br3-lt-5);
  --page-bg: var(--br2-lt-1 );
}

.theme3 {
  --nav-color: red;
  --nav-color2: white;
  --nav-bg: green;
  --nav-bg2: #038cd9;
}

.nav-content {
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-color);
}
.nav-button {
  color: var(--nav-color);
}

.nav-button:hover,
.nav-button.active {
  background-color: var(--nav-bg2);
  color: var(--nav-color);
}

.nav-button-line.active {
  background-color: var(--nav-color2);
}

.social-icons,
.social-icon,
.theme-toggle {
  color: var(--nav-color);
  background-color: var(--nav-bg);
}

.theme-toggle:hover {
  background-color: var(--nav-bg2);
}

.adhesion-button {
  background-color: var(--gre-lt-4);
  color: var(--br2-lt-1);
  border: 1px solid var(--br2-lt-1);
}

.nav-button {
  color: var(--nav-color);
}

.nav-button-line {
  background: var(--nav-color);
}

.subitem h3 {
  color: var(--nav-color);
}

.subitem h3::after {
  background: var(--nav-color);
}

.subitem p {
  color: var(--nav-color);
}

.overlay {
  background: var(--nav-bg);
  border: 1px solid var(--nav-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--nav-color);
}

a:hover {
  color: #b6496d;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "NeuePlak-Bold";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #038cd9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dark .nav-button {
  color: #fff;
}

.page {
  background-color: var(--page-bg);
  color: var(--nav-color);
}

.card {
  background-color: var(--card-bg);
  border: 2px var(--card-bg) solid;
}

.blue-card {
  background-color: var(--card-bg2);
}

.card-title {
  color: var(--card-color);
}

.card-content {
  color: var(--card-color2);
}

.mission-title {
  color: var(--nav-color);
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  text-align: center;
  overflow-y: auto;
}

.app-container,
.menu,
.page,
.footer {
  width: 100% !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-content {
  color: var(--nav-color);
  background-color: var(--nav-bg);
  border-top: 1px solid var(--nav-color);
}

.footer-column h3 {
  color: var(--nav-color);
  background-color: var(--nav-bg);
}
.contact-info p {
  color: var(--nav-color);
}

.contact-info a {
  color: var(--nav-color2);
}
.missions-list a {
  color: var(--nav-color);
}
.contact-info {
  color: var(--nav-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #00f1f2;
  }
  button {
    background-color: #f9f9f9;
  }
  footer {
    background-color: #ffffff;
  }
}
